# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
mkcert.exe
mkcert.msc
localhost.pem
localhost-key.pem

# Local env files
.env
.env.*
!.env.example

# Drizzle Things
/server/lib/migrations/meta
/server/lib/migrations/*.sql